.App {
}

.App-header {
  min-height: 100vh;
  display: flex;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  padding: 3% 0% 3% 12%;
  color: #fff !important;
}
