.App {
}

.App-header {
  min-height: 100vh;
  display: flex;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text {
  padding: 3% 0% 3% 12%;
  color: #fff !important;
}

.ant-page-header {
  padding: 24px;
}
.ant-page-header-heading-left {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.ant-page-header-heading-title {
  color: #ffffff;
  font-family: "nerissemibold", Droid Sans, Arial, sans-serif;
  font-size: 30px;
  margin-top: 3%;
}

.ant-page-header-heading-sub-title {
  color: #ffffff;
}

.ant-divider-horizontal.ant-divider-with-text:after,
.ant-divider-horizontal.ant-divider-with-text:before {
  border-top: 1px solid #253746;
}

.btn:focus {
  background-color: #ffffff;
  color: #b11a5f;
  transition: 0.7s;
}

.ant-table {
  color: #fff;
  background: #081f2c;
}

.ant-table-thead > tr > th {
  color: #fff;
  background: #253746;
  border-bottom: 1px solid #253746;
}

.ant-table-footer {
  background: #081f2c;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #253746;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #081f2c;
}

.ant-card-grid {
  box-shadow: none;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #b11a5f;
  border: 1px solid #b11a5f;
  color: #fff;
}

.ant-badge-status-dot {
  width: 58px;
  height: 15px;
  border-radius: 8%;
  opacity: 32%;
}

.ant-badge-status-text {
  margin-left: -52px;
  color: #fff;
}

.ant-table-cell {
  padding: 12px 14px !important;
}

.ant-table.ant-table-middle .ant-table-footer {
  padding: 12px 14px !important;
}

.ant-switch-checked {
  background: #b11a5f;
}

.ant-notification-notice-description {
  font-size: 90% !important;
  margin-left: 0px !important;
}

.notification-custom-class {
  width: 55%;
}
